.social-share-links ul {
  display: inline-flex;
  margin: 20px auto;
}
.social-share-links ul li {
  margin: auto 20px;
}
.social-share-links ul li a {
  opacity: 0.6;
  transition: all 0.1s ease-in;
}
.social-share-links ul li a:hover {
  opacity: 1;
}
.social-share-links ul li a.facebook {
  color: #4267b2;
}
.social-share-links ul li a.twitter {
  color: #38a1f3;
}
.social-share-links ul li a.google {
  color: #dd4b39;
}
.social-share-links ul li a.linkedin {
  color: #0077b5;
}
